*{
    margin: 0;
    padding-left: 0px;
    list-style: none;
}
div.header {
    width: 100%;
    height: 100%;
    background-color: gold;
    display: block;
    margin: 0px;
    text-align: center;
    padding-bottom:35px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmGLHw_BMhSqaJvOkb-Az14eQYgl0jjm1Hkg&usqp=CAU");
}

h2#slogan {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    color: red;
}
div#items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto ;
    resize: none;
}
.footer {
    text-align: center;
    color: green;
    font-style: italic;
    padding-top: 0%;
}
#companyName {
    padding-bottom: 20px;
    background-color: gold;
}
img {
    height: 100px;
}
.ourProducts {
    padding-top: 20px;
    font-size: 30px;
    color: brown;
}
img {
    height: 25px;
}
.notice{
    padding-top: 50px;
    margin-right: 20px;
}
#footer {
    color: white;
    padding-top: 25px;
    float: right;
    margin-bottom: 20px;
    padding-right: 300px;
}
#contact {
    padding-bottom: 2%;
    
}
#whatsapp {
    padding-bottom: 2%;
}
#email {
    padding-bottom: 2%;
}
a {
    color: white

}
#follow{
    color: white;
}
.additionalInfo {
    background-color: rgb(25, 26, 24);
    height: 200px; 
}
.social_media {
    padding-left: 100px;
    padding-top: 2%;
}
