body {
    background-color: plum;
    margin: 0px;
    padding-top: 0em;
}
section#header {
    text-align: center;
    margin: 0px;    
}

h3#slogan {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
}
div#items {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 4;
}
